<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Allow the /api directory to be accessed directly
  RewriteCond %{REQUEST_URI} ^/api/
  RewriteRule ^ - [L]

  # Standard SPA Routing
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
